*{
    margin:0;
    padding:0;
}
   

nav ul li{
    list-style: none;
    
    font-size:1.5rem;
    text-transform: uppercase;
    cursor:pointer;
}
 .navbar ul li a{
    
    padding:2px;
    text-decoration: none;
    color:black;
    
}
.search{
    height:20px;
    border-radius:6px;
    display:flex;
    text-align:center;
}
.but:hover{
    color:rgb(147, 195, 193);
}
.bg1{
    height:0.3px;
    width:20px;
    background-color:rgb(252, 244, 244);
    padding:3px;
    margin:3px;
    
}
.burger{
   position:absolute;
   right:4rem;
   top:1rem;
   cursor:pointer;
   
}
.but{
    height:20px;
    overflow:hidden;
    background-color:rgb(104, 104, 147);
    transition:0.4 ease-in-out;
    border-radius:4px;
    display:flex;
}
.nav-list a:hover{
   color:white;
}
.nav-list {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(104, 177, 173);
}
.navbar li {
    padding:20px;
    margin:0 1rem;
}
@media only screen and (max-width:850px){
    .nav-list  {
       
       display:flex;
       flex-direction:column;

    }
    .burger{
        display:block;
    }
    /*.visi-ble{
        opacity:0;
    }
    body{
        background-color:grey;
    }*/
}